*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-inline: 30px;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  inline-size: 1200px;
  block-size: 800px; /*block-size: 100%; */
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 30px;
  inline-size: 1200px;
} 
/*-------------------------------------------------------------*/
.result__video-container {
  position: relative;
  display: flex;
  margin-block-end: 16px;
  inline-size: 711px;
  block-size: 386px;
}

.result__video {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

/*-------------------------------------------------------------*/
.search-form {
  display: grid;
  grid-template-columns: 265px 252px 1fr;
  block-size: 54px;
}

.search-form__fieldset {
  border: none;
  inline-size: 225px;
  block-size: 54px;
 }

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  padding-block-start: 1px;
  font-weight: 400;
  background-color: transparent;
  block-size: 27px;
 }
  
.search-form__label:has(:focus-visible) { 
    border: 1px solid #fff; 
    outline: none; 
  }
  
.search-form__label-text {
  padding-inline-start: 5px;
  background-color: transparent;
 }

input[type='text']:focus {
  outline: none;
}

 .search-form__textfield {
  border-inline: none;
  border-block: 1px solid rgba(255, 255, 255, 0.70);
  padding-block-start: 4px;
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  background-color: transparent;
  inline-size: 100%; 
 }

.search-form__textfield::placeholder {
  letter-spacing: 1.5;
}

.search-form__textfield:focus {
  outline: none;
}
  
.search-form__textfield:focus-visible  {
  outline: 1px solid;
  outline-offset: 2px;
  color: inherit;
}
  /*-------------------------------------------------------------*/
.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1px;
  inline-size: 212px;
}

.search-form__checkbox-list .search-form__label:hover {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
} 

input[type='checkbox']:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: flex;
  padding: 1px;
  background-color: #ffffff;
  block-size: 16px;
  inline-size: 16px;
} 

.search-form__pseudo-checkbox {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff;
  background-color: transparent;
  cursor: pointer;
  block-size: 19px;
  inline-size: 19px;
}

/*-------------------------------------------------------------*/

.button {
  border: 1px solid #fff;
  color: #FFF;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
}

.button:focus {
  outline: none;        
}

.button:focus-visible {
  outline: 1px solid inherit;
  outline-offset: 2px;
}

.button:hover {
  color: white;
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  margin-block-start: 20px;
  padding-block-start: 3px;
  inline-size: 194px;
  block-size: 34px;
}
 
.search-form__submit-button:focus-visible {
  outline: 1px solid #fff;
}


/*-------------------------------------------------------------*/

.content__details {
  inline-size: 100%;
  block-size: 100%; /*----тут-----*/
  }

.title {
  margin-block-end: 24px;                /*тут*/
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 0.95;
  text-transform: uppercase;
  block-size: 210px;
}

.content__accent {
  color: #545050;
}
  
  /*-------------------------------------------------------------*/
.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow-y: scroll;
  block-size: 299px;
  inline-size: 399px;
}

.content__list::-webkit-scrollbar {
  width: 0px;
  height: 0;
}

.content__list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #888;
}

.content__card-link {
  display: block;
  margin: 1px;                       /*тут*/
  text-decoration: none;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
.content__card-link:hover {
  outline: none;
}

.content__card-link_current:active {
  outline: none;
  background-color: #545050;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
 }

.content__video-card-description-container {
  padding-block-start: 2px;
  overflow: hidden;
  inline-size: 100%;
  block-size: 100%;
}

.content__list-item .content__card-link:hover {
  color: #FFF;
  text-decoration: underline;
  cursor: pointer;
}

.content__video-card-title {
  padding-block-start: 2px;
  overflow: hidden;
  color: #FFF;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
 }
  
  .content__video-card-description {
    padding-block-start: 2px;               /*тут*/
    color: #FFF;
    font-family: Fira Sans Condensed;
    font-weight: 400;
    font-size: 18px;
    font-style: normal;
    line-height: 26.2px; /* 90% */
  }

  .content__video-card-thumbnail {
    width: 100%;                 /* тут */
    margin-inline-start: 4px;    /* тут */
    object-fit: cover;
    object-position: center;
  /*   inline-size: 194px;  */
    block-size: 103px;
  }

/*-------------------------------------------------------------*/

.more-button {
  inline-size: 100%;
  block-size: 34px;
}

/*-------------------------------------------------------------*/

.pixel-perfect-image {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1200px;
  opacity: 0.5;
  transform: translateX(-50%);
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
} 
